{% extends "digital_clinic/base.html" %}

{% block content %}
    <div class = "content-section">
        <h1>{{ obj }}</h1>
        <div>
            <a 
                id="back-button"
                href="#"
                class="btn btn-outline-secondary"
            >
                <i class="bi bi-arrow-left"></i> Back
            </a>

            {% for b in additional_buttons %}
                <a
                    href="{% url b.url obj.pk %}"
                    class="btn {{ b.bootstrap_class }} ms-2"
                >
                    <i class="bi {{ b.bootstrap_icon }}"></i> {{ b.text }}
                </a>     
            {% endfor %}         
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const app = "{{ app }}";
                const search = sessionStorage.getItem(app + "Search") || "";
                const page = sessionStorage.getItem(app + "Page") || "1";
                const backButton = document.getElementById("back-button");
                
                backButton.href = `{% url url_list %}?search=${search}&page=${page}`
            });
        </script>

        {% block details %}{% endblock %}
    </div>
{% endblock%}