# Virtual environment
.venv/

# Cache
__pycache__

# Database
db.sqlite3

# Local settings file
.env

# macOS Finder
.DS_Store

# PDF generators
*_pdf_generator.py
!example_pdf_generator.py

# Static
/static/img/
/static/fonts/
