services:
  db:
    image: postgres:17
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
  dj:
    build:
      context: ./django_app
      args: # Django collectstatic needs these during the build time.
      # In the Dockerfile, these will be promoted to environment
      # variables
        - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
        - DJANGO_CSRF_TRUSTED_ORIGINS=${DJANGO_CSRF_TRUSTED_ORIGINS}
        - DB_ENGINE=${DB_ENGINE}
    volumes:
      - dj_static:/usr/src/app/staticfiles
    depends_on:
      - db
    env_file:
      - .env
  nginx:
    image: nginx:latest
    ports:
      - "8001:443"
    volumes:
      # These files must exist on the remote machine at the specified location.
      - /root/digital_clinic/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

      # SSL Certificate (Again, these files must exist on the remote machine)
      - /root/digital_clinic/certs/cert.pem:/etc/ssl/certs/cert.pem:ro
      - /root/digital_clinic/certs/key.pem:/etc/ssl/private/key.pem:ro
      
      # Django Static
      - dj_static:/usr/share/nginx/static/:ro
    depends_on:
      - dj
volumes:
  db_data:
  dj_static:
