:root {
  --color-header: #6fcec4;
  --color-text: #abb4bc;
  --color-bg: #1b1f21;
  --color-bg-secondary: #202528;
  --color-border: #444950;
  --color-error: #eb868f;
}

body {
  color: var(--color-text);
  background: var(--color-bg-secondary);
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-header);
}

ul {
  margin: 0;
}

.content-section {
  background: var(--color-bg);
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sticky-header{
  position: sticky;
  top: 0;
}

.table-colors {
  --bs-table-bg: var(--color-bg);
  --bs-table-border-color: var(--color-border);
  --bs-table-hover-bg: var(--color-bg-secondary);
}

dd {
    padding-left: 1rem;
}
