{% extends "digital_clinic/base.html" %}

{% block content %}
    <div class = "content-section">
        <h1>{{ obj }}</h1>
        <div>
            <a 
                id="back-button"
                href="{% url 'patients:patient-list' %}"
                class="btn btn-outline-secondary"
            >
                <i class="bi bi-arrow-left"></i> Back
            </a>

            {% for b in additional_buttons %}
                <a
                    href="{% url b.url obj.pk %}"
                    class="btn {{ b.bootstrap_class }} ms-2"
                >
                    <i class="bi {{ b.bootstrap_icon }}"></i> {{ b.text }}
                </a>     
            {% endfor %}         
        </div>

        {% block details %}{% endblock %}
    </div>
{% endblock%}