{% extends "lab/lab_wizard.html" %}
{% load crispy_forms_tags %}

{% block form %}
            <h1>Lab</h1>

            {% include 'core/partials/autocomplete.html' with field='panel' ac_text=form.panel.value|default_if_none:'' ac_counter=0 ac_search_field='name' label='Panel' app='panels' model='Panel' errors=form.panel.errors initial_render=True on_load_post=panel_on_load_post %}

            <h3>Results</h3>

            {{ formset.management_form }}

            <dl id="results">
                {% for f in formset %}
                    {% include 'lab/partials/testresult_form.html' with testresult=f.instance prefix=f.prefix value_errors=f.value.errors %}
                {% endfor %}
            </dl>
{% endblock %}