{% extends "digital_clinic/list_view.html" %}

{% block table %}
    <table class="table table-hover table-colors">
        <thead>
            <tr class="sticky-header">
                <th>Date</th>
                <th>Name</th>
                <th>Panel</th>
            </tr>
        </thead>

        <tbody>
            {% for lab in page_obj %}
                <tr class="clickable-row" data-href="{% url 'lab:lab-detail' lab.pk %}">
                    <td>{{ lab.date }}</td>
                    <td>{{ lab.patient.full_name }}</td>
                    <td>{{ lab.panel }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}